@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 100rem;
}

body{
  background-color: #62210d;
}

.custom-tracking {
  letter-spacing: -0.02em; /* -2% of current font size */
}
